In [16]:
import pandas as pd
import pyodbc

server = 'VENDAS' # substitua pelo nome do seu servidor 
database = 'Python' # substitua pelo nome do seu Banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC DRIVER 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')
                           
                           
                           
cursor = conexaoDB.cursor() #criando cursor de comando

In [17]:
dados = pd.read_excel(r"C:\Users\supor\Downloads\SQL_Server\arquivos_excel\Ordens.xlsx")
dados.head(5)

   id          created_at  customer_id              status
0   0 2019-08-28 03:36:31           91            entregue
1   1 2019-08-16 20:21:30            7            entregue
2   2 2019-07-11 11:00:06           26  pagamento_pendente
3   3 2019-08-27 21:04:41           92  pagamento_pendente
4   4 2019-11-03 19:58:37           63    entrega_pendente

In [18]:
cursor.execute('truncate table [ordens]') # executa a tarefa de apagar dados 
cursor.commit()

In [11]:
for index,linha in dados.iterrows():

    cursor.execute("insert into[ordens](id,created_at,customer_id,Status_)values(?,?,?,?)",linha.id,linha.created_at,
                   linha.customer_id,linha.status)
        # Inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit() # validar dados no SQL server
cursor.close() # Fechar cursor 
conexaoDB.close() #Fechar conex√£o