In [17]:
import pandas as pd
import pyodbc

server = 'VENDAS' # substitua pelo nome do seu servidor 
database = 'Python' # substitua pelo nome do seu Banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC DRIVER 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')
                           
                           
                           
cursor = conexaoDB.cursor() #criando cursor de comando

In [18]:
dados = pd.read_excel(r"C:\Users\supor\Downloads\SQL_Server\arquivos_excel\Categoria.xlsx")

In [19]:
dados = dados.rename(columns={'name':'Nome'})
dados.head(5)

   id                     Nome
0   0        Moda e Acessórios
1   1  Cosméticos e Perfumaria
2   2         Eletrodomésticos
3   3                   Livros
4   4                Celulares

In [20]:
for index,linha in dados.iterrows():

    cursor.execute("insert into[categoria](ID,NOME)values(?,?)",linha.id,linha.Nome)
        # Inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit() # validar dados no SQL server
cursor.close() # Fechar cursor 
conexaoDB.close() #Fechar conexão