In [13]:
import pandas as pd
import pyodbc

server = 'VENDAS' # substitua pelo nome do seu servidor 
database = 'Python' # substitua pelo nome do seu Banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC DRIVER 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')
                           
                           
                           
cursor = conexaoDB.cursor() #criando cursor de comando

In [14]:
dados = pd.read_excel(r"C:\Users\supor\Downloads\SQL_Server\arquivos_excel\items.xlsx")
dados.head(10)

   id  order_id  product_id  quantity  total_price
0   0      7019          28         1          186
1   1      8827          29         1          110
2   2      3863          38         1          385
3   3      5002          37         1          493
4   4      6337          28         1          186
5   5       915          18         1           20
6   6      6664          24         1         2663
7   7      6917          44         2          164
8   8       872          23         1         2795
9   9      8532           6         1           15

In [15]:
cursor.execute('truncate table [items]') # executa a tarefa de apagar dados 
cursor.commit()

In [16]:
print(dados['total_price'].dtype)

int64

In [17]:
dados['total_price'] = dados['total_price'].astype(float)

In [18]:
for index,linha in dados.iterrows():

    cursor.execute("insert into[items](id,order_id,product_id,quantity,total_price)values(?,?,?,?,?)",linha.id,linha.order_id,
                   linha.product_id,linha.quantity,linha.total_price)
        # Inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit() # validar dados no SQL server
cursor.close() # Fechar cursor 
conexaoDB.close() #Fechar conex√£o