In [1]:
import pandas as pd
import pyodbc

server = 'VENDAS' # substitua pelo nome do seu servidor 
database = 'Python' # substitua pelo nome do seu Banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC DRIVER 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')
                           
                           
                           
cursor = conexaoDB.cursor() #criando cursor de comando

In [3]:
dados =  pd.read_excel(r"C:\Users\supor\Downloads\SQL_Server\arquivos_excel\Produto.xlsx")
dados.head(5)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [4]:
dados.columns

Index(['ID', 'Name', 'Price', 'Id_Category'], dtype='object')

In [5]:
str(dados.columns).replace("'","")

'Index([ID, Name, Price, Id_Category], dtype=object)'

INSERINDO DataFrame NO BANCO

In [10]:
for index,linha in dados.iterrows():

    cursor.execute("insert into[produto](ID,NOME,PRICE,ID_CATEGORY)values(?,?,?,?)",linha.ID,linha.Name,linha.Price,linha.Id_Category)
        # Inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit() # validar dados no SQL server
cursor.close() # Fechar cursor 
conexaoDB.close() #Fechar conexão

In [ ]:
cursor.execute('truncate table [produto]') # executa a tarefa de apagar dados 
cursor.commit()